.bg-about {
    display: flex;
    justify-content: space-between;
    padding: 5em;
}

.bg-about>div {
    width: 550px;
}

.about-me>h1,
.skill>h1 {
    font-size: 30px;
}

.about-me>h4,
.other>div>h4 {
    font-size: 18px;
    font-weight: normal;
    color: #4B5563;
    line-height: 1.5em;
    margin: 0;
}

.other {
    margin-top: 1.5em;
}

.other>div {
    margin: 0px;
    display: flex;
    align-items: center;
    margin-bottom: .3em;
}

.other>div>img {
    margin-right: .8em;
}

.skill>div {
    display: flex;
}

.cardskill {
    width: 45%;
    border-radius: 8px;
    margin-right: 1em;
    margin-bottom: .8em;
    padding: 1em .8em;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: #F9FAFB;
}

.cardskill>h5 {
    font-size: 16px;
    font-weight: 600;
    margin-left: .5em;
}

@media (max-width: 1024px) {
    .bg-about {
        display: block !important;
        text-align: justify;
    }

    .bg-about>div {
        width: 100% !important;
    }

    .about-me>h1,
    .skill>h1 {
        text-align: center !important;
        margin-bottom: 10px !important;
    }

    .about-me>h4,
    .other>div>h4 {
        font-size: 16px !important;
    }

    .skill>div {
        justify-content: center !important;
    }
}

@media (max-width: 668px) {
    .bg-about {
        padding: 2rem 1.5rem;
    }
    
    .about-me>h4 {
        font-size: 16px !important;
        line-height: 1.6;
    }
    
    .other>div {
        margin-bottom: 0.5em;
    }
    
    .other>div>h4 {
        font-size: 14px !important;
    }

    .skill>div {
        display: block !important;
        padding: 0;
        text-align: -webkit-center;
    }

    .cardskill {
        margin: 0 auto 10px auto !important;
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .bg-about {
        padding: 1.5rem 1rem;
    }
    
    .about-me>h1,
    .skill>h1 {
        font-size: 24px !important;
    }
    
    .about-me>h4 {
        font-size: 14px !important;
    }
    
    .other>div>h4 {
        font-size: 13px !important;
    }
    
    .cardskill {
        padding: 0.8em 0.6em;
        font-size: 14px;
    }
    
    .cardskill>h5 {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .bg-about {
        padding: 1rem 0.75rem;
    }
    
    .about-me>h1,
    .skill>h1 {
        font-size: 20px !important;
    }
    
    .about-me>h4 {
        font-size: 13px !important;
    }
    
    .cardskill {
        padding: 0.7em 0.5em;
        font-size: 13px;
    }
}