.bg-pendidikan {
    background-color: white;
    text-align: -webkit-center;
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-pendidikan>div>h1 {
    margin-bottom: 30px;
    font-size: 30px;
}

.pendidikan-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    border-radius: 12px;
    padding: 1.5em 2em;
    background-color: white;
}

.icon-pendidikan {
    margin-right: 1.5em;
    flex-shrink: 0;
}

.icon-pendidikan img {
    width: 80px;
    height: 80px;
}

.content-pendidikan {
    text-align: left;
    line-height: 1.5em;
}

.content-pendidikan h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.content-pendidikan h4 {
    font-size: 16px;
    font-weight: normal;
}

.color-grey {
    color: #4B5563;
}

@media (max-width: 1024px) {
    .bg-pendidikan {
        padding: 3em 1em;
    }

    .pendidikan-container {
        width: 90%;
        padding: 1.2em;
        flex-direction: column;
        text-align: center;
    }

    .icon-pendidikan {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .content-pendidikan {
        text-align: center;
    }

    .content-pendidikan h2 {
        font-size: 20px;
    }

    .content-pendidikan h4 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .bg-pendidikan {
        padding: 2em 1em;
    }
    
    .bg-pendidikan>div>h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .pendidikan-container {
        width: 100%;
        max-width: 100%;
        padding: 1.2em;
        flex-direction: column;
        text-align: center;
    }

    .icon-pendidikan {
        margin-bottom: 15px;
        margin-right: 0;
    }
    
    .icon-pendidikan img {
        width: 60px;
        height: 60px;
    }

    .content-pendidikan {
        text-align: center;
    }
    
    .content-pendidikan h2 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .content-pendidikan h4 {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .bg-pendidikan {
        padding: 1.5em 0.75em;
    }
    
    .bg-pendidikan>div>h1 {
        font-size: 20px;
    }
    
    .pendidikan-container {
        padding: 1em;
    }
    
    .icon-pendidikan img {
        width: 50px;
        height: 50px;
    }
    
    .content-pendidikan h2 {
        font-size: 16px;
    }
    
    .content-pendidikan h4 {
        font-size: 13px;
    }
}